<a name="about"></a>
<div class="pt-16 pb-8 md:pb-18">
  <h2 class="font-syne font-syne text-4xl lg:text-5xl font-bold lg:tracking-tight">
    About Me
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Isaac Graveley is a full-stack developer based in Ottawa, Ontario. Throughout his education and career, he has become experienced with multiple programming languages, libraries and tools. Isaac is a multi-disciplinary professional offering profound programming knowledge in tandem with a great understanding of design.
  </p>
  <p class="text-lg mt-4 text-slate-600">
    Passionate about technology, Isaac persued an Advanced Diploma in Web Design & Interactive Media from 2017 through 2020. This program helped him grasp an in-depth understanding of many areas of digital technology. Most importantly it allowed him to follow his passion of creating exciting projects using technology with a focus on user experience.
  </p>
</div>
