<a name="about"></a>
<div class="pt-16 pb-8 md:pb-18">
  <h2 class="font-syne font-syne text-4xl lg:text-5xl font-bold lg:tracking-tight">
    About Me
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    I'm a web developer based in Ottawa, Ontario. Experienced in many areas of digital media, from website design and development, to creating video ads and managing paid digital advertising campaigns. I'm passionate about delivering websites with top performance and great user experiences.
  </p>
  <p class="text-lg mt-4 text-slate-600">I attended Humber College for 3 years to obtain my advanced diploma in Web Design & Interactive Media. During my time there I discovered my passion for web technologies, and got to work on plenty of exciting projects involving Web Development, Design, UI/UX mobile development and more.</p>
  <p class="text-lg mt-4 text-slate-600">Now working in Ottawa, Ontario - I'm creating and optimizing web pages in the utilities and electrical infrastructure industry.</p>
  <p class="text-lg mt-4 text-slate-600">On my downtime I love training and exploring with my dog Leaf, hanging out with friends and expanding my skillset through learning and occasional freelancing.</p>
</div>
