
<a name="experience"></a>
<div class="pt-16 pb-8 md:pb-18">
    <h2 class="font-syne font-syne text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Work Experience
    </h2>

    <div class="mt-16">
        <h4 class="text-2xl font-inter font-bold"><a class="underline" target="_blank" href="https://hydroottawa.com/en">Hydro Ottawa</a> | <span class=" italic font-normal">Digital Marketing Specialist</span></h4>
        <ul class="pl-4 list-disc text-slate-600 text-lg">
            <li>Proposed designed and developed more user-friendly solutions to display large amounts of content without overwhelming users.</li>
            <li>Developed responsive landing pages from provided design files.</li>
            <li>Developed and managed custom blocks in various CMS such as Drupal and Wordpress.</li>
        </ul>
        <div class="job-skills gap-3 xl:gap-0 mt-4">
            <span class=" inline-block mb-2 px-5   py-1 rounded-full bg-slate-300">Marketo</span>
            <span class="px-5  inline-block mb-2 py-1 rounded-full bg-slate-300">Wordpress</span>
            <span class="px-5 inline-block mb-2 py-1 rounded-full whitespace-nowrap bg-slate-300">WP Bakery</span>
            <span class="px-5 inline-block mb-2 py-1 rounded-full bg-slate-300">Drupal</span>
            <span class="px-5 inline-block mb-2 py-1 rounded-full bg-slate-300">Bootstrap</span>
            <span class="px-5 inline-block mb-2 py-1 rounded-full bg-slate-300">Google Analytics</span>
            <span class="px-5 inline-block mb-2 py-1 rounded-full bg-slate-300">AODA / Accessability</span>
            <span class="px-5 inline-block mb-2 py-1 rounded-full bg-slate-300">HTML</span>
            <span class="px-5 inline-block mb-2 py-1 rounded-full bg-slate-300">CSS</span>
            <span class="px-5 inline-block mb-2 py-1 rounded-full bg-slate-300">JS</span>
        </div>
</div>

<div class="mt-16">
  <h4 class="text-2xl font-inter font-bold"><a class="underline" target="_blank" href="https://www.shopetee.com/">Etee</a> | <span class=" italic font-normal">Digital Marketing Technician</span></h4>
  <ul class="pl-4 list-disc text-slate-600 text-lg">
      <li>Created the Canadian and international ecommerce website, solving a huge pain point for Canadian customers, and broadening our market, leading to more customers and revenue.</li>
      <li>Built a free sampling program which generated hundreds of leads for email marketing campaigns.</li>
      <li>Expanded the social media strategy into TikTok and grew our audience on the platform from 0 to 44,000 followers, resulting in thousands of new website visitors and thousands of dollars in sales.</li>
      <li>Improved overall user experience for the ecommerce storefront by implementing updated user-friendly navigation, search options, and more precise responsive design.</li>
  </ul>
  <div class="job-skills mt-4">
      <span class="px-5 inline-block mb-2   py-1 rounded-full bg-slate-300">Shopify</span>
      <span class="px-5  inline-block mb-2  py-1 rounded-full bg-slate-300">Clickfunnels</span>
      <span class="px-5  inline-block mb-2  py-1 rounded-full bg-slate-300">Klaviyo</span>
      <span class="px-5 inline-block mb-2   py-1 rounded-full bg-slate-300">Bootstrap</span>
      <span class="px-5  inline-block mb-2  py-1 rounded-full bg-slate-300">Digital Ads</span>
      <span class="px-5 inline-block mb-2   py-1 rounded-full bg-slate-300">Google Analytics</span>
      <span class="px-5  inline-block mb-2  py-1 rounded-full bg-slate-300">HTML</span>
      <span class="px-5 inline-block mb-2   py-1 rounded-full bg-slate-300">CSS</span>
      <span class="px-5 inline-block mb-2   py-1 rounded-full bg-slate-300">JS</span>
  </div>
</div>

<div class="mt-16">
  <h4 class="text-2xl font-inter font-bold"><a class="underline" target="_blank" href="https://zipgrow.com/">Zipgrow</a> | <span class=" italic font-normal">Digital Marketing Specialist & IT Support</span></h4>
  <ul class="pl-4 list-disc text-slate-600 text-lg">
      <li>Solved various IT issues in relation to hosting, Shopify, Wordpress, and other CMS.</li>
      <li>Developed and maintained landing pages for new agricultural product.</li>
      <li>Expanded marketing funnel to have more precise targeting and managed digital media spend, generating profitable return and new customer acquisition.</li>
      <li>Advised creation and placement of digital content throughout the marketing funnel.</li>
  </ul>
  <div class="job-skills mt-4">
      <span class="px-5 inline-block mb-2  py-1 rounded-full bg-slate-300">Wordpress</span>
      <span class="px-5 inline-block mb-2  py-1 rounded-full bg-slate-300">Learndash</span>
      <span class="px-5 inline-block mb-2  py-1 rounded-full bg-slate-300">Divi</span>
      <span class="px-5 inline-block mb-2  py-1 rounded-full bg-slate-300">Shopify</span>
      <span class="px-5 inline-block mb-2  py-1 rounded-full bg-slate-300">Woocommerce</span>
      <span class="px-5 inline-block mb-2  py-1 rounded-full bg-slate-300">HTML</span>
      <span class="px-5 inline-block mb-2  py-1 rounded-full bg-slate-300">CSS</span>
      <span class="px-5 inline-block mb-2  py-1 rounded-full bg-slate-300">JS</span>
  </div>
</div>

<div class="mt-16">
  <h4 class="text-2xl font-inter font-bold"><a class="underline" target="_blank" href="https://www.sdgcounties.ca/">SDG Counties</a> | <span class=" italic font-normal">Social Media Coordinator</span></h4>
  <ul class="pl-4 list-disc text-slate-600 text-lg">
      <li>Managed the municipal tourism websites, blog, and social media channels to communicate important information to locals and tourists.</li>
  </ul>
  <div class="job-skills mt-4">
      <span class="px-5 inline-block mb-2  py-1 rounded-full bg-slate-300">Squarespace</span>
      <span class="px-5 inline-block mb-2  py-1 rounded-full bg-slate-300">Hootsuite</span>
  </div>
</div>
  </div>
  