---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class=" text-center place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div>
    <h1
      class="font-inter text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Full-Stack Developer based in Ottawa, Ontario
    </h1>
    <p class="text-lg font-sans text-center place-items-center mt-4 text-slate-600">
      Currently exploring python and machine learning technology.
    </p>
    <div class="mt-6 justify-center flex flex-col sm:flex-row gap-3">
      <Link
        href="#contact"
        class="font-sans  flex gap-1 items-center justify-center">
        <Icon class="text-white w-5 h-5" name="bx:bx-mail-send" />

        Contact Me
      </Link>
      <Link
        size="lg"
        style="outline"
        href="#projects"
        class="font-sans flex gap-1 items-center justify-center">
        <Icon class="text-black w-4 h-4" name="bx:bx-code-alt" />
        View Projects
      </Link>
    </div>
  </div>
</main>
